<a href="https://colab.research.google.com/github/sankarraman2000/Data-analytics/blob/main/HakerRank_30_Days_of_code_Star_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**HackerRank Day 1**

**Task**

Complete the code in the editor below. The variables i,dand s are already declared and initialized for you. You must:

Declare 3 variables: one of type int, one of type double, and one of type String.

Read 3 lines of input from stdin (according to the sequence given in the Input Format section below) and initialize your 3 variables.

Use the  operator to perform the following operations:

1.Print the sum of i plus your int variable on a new line.

2.Print the sum of d plus your double variable to a scale of one decimal  place on a new line.

3.Concatenate s with the string you read as input and print the result on a new line.

In [1]:
i = 4
d = 4.0
s = 'HackerRank '
# Declare second integer, double, and String variables.
i1=int(input())
d2=float(input())
s2=str(input())
# Read and save an integer, double, and String to your variables.)
# Print the sum of both integer variables on a new line.
print(i + i1)
# Print the sum of the double variables on a new line.
print(d + d2)
# Concatenate and print the String variables on a new line
print('{}{}'.format(s,s2))
# The 's' variable above should be printed first.

4
4
ramakrishnan
8
8.0
HackerRank ramakrishnan

**HackerRank Day 2**

iven the meal price (base cost of a meal), tip percent (the percentage of the meal price being added as tip), and tax percent (the percentage of the meal price being added as tax) for a meal, find and print the meal's total cost. Round the result to the nearest integer.

Example

meal cost = 100

tip percent = 15

tax percent = 8

A tip of 15% * 100 = 15, and the taxes are 8% * 100 = 8. Print the value  and return from the function.

In [2]:
def solve(meal_cost, tip_percent, tax_percent):
    # Write your code here
    a=(meal_cost/100)*tip_percent
    b=(tax_percent/100)*meal_cost
    total=round(meal_cost+a+b)
    print(total)
if __name__ == '__main__':
    meal_cost = float(input().strip())

    tip_percent = int(input().strip())

    tax_percent = int(input().strip())

    solve(meal_cost, tip_percent, tax_percent)

1689
34
12
2466

**HackerRank Day 3**

**Task**

Given an integer, N, perform the following conditional actions:

If N is odd, print Weird

If  is even and in the inclusive range of 2 to 5 , print Not Weird

If  is even and in the inclusive range of 6 to 20, print Weird

If  is even and greater than 20 , print Not Weird

Complete the stub code provided in your editor to print whether or not  is weird.

In [5]:
if __name__ == '__main__':
    N = int(input().strip())
    if N % 2 != 0:
        print('Weird')
    if N%2==0:
        if N in range(2,6):
            print('Not Weird')
        if N in range(6,21):
            print('Weird')
        if N >20:
          print('Not Weird')

6
Weird

**HackerRank Day 4**

Write a Person class with an instance variable,age , and a constructor that takes an integer,initialAge, as a parameter. The constructor must assign initialAge to  after confirming the argument passed as initialAge is not negative; if a negative argument is passed asinitialAge, the constructor should set age to 0 and print **Age is not valid, setting age to 0.**. In addition, you must write the following instance methods:

yearPasses() should increase the  instance variable by 1.

amIOld() should perform the following conditional actions:

If age<13, print You are young..

If age >=13 and <18, print You are a teenager..

Otherwise, print You are old..

In [ ]:
class Person:
    def __init__(self,initialAge):
        if initialAge <1:
            self.age=0
            print('Age is not valid, setting age to 0.')
        else:
            self.age=initialAge
    def amIOld(self):
        if self.age <13:
            print('You are young.')
        elif self.age < 18:
            print('You are a teenager.')
        else:
            print('You are old.')
    def yearPasses(self):
        self.age += 1

**HackerRank Day 5**

Given an integer,n , print its first 10 multiples. Each multiple n x i (where ) 1<=i<=10 should be printed on a new line in the form: n x i = result.

Example

n=3

Output

3 x 1 = 3

3 x 2 = 6

3 x 3 = 9

3 x 4 = 12

3 x 5 = 15

3 x 6 = 18

3 x 7 = 21

3 x 8 = 24

3 x 9 = 27

3 x 10 = 30

In [ ]:
if __name__ == '__main__':
    n = int(input().strip())
    for i in range(1,11):
        result=n * i
        print('{} x {} = {}'.format(n,i,result))

**HackerRank Day 6**

Given a string,S , of length N that is indexed from 0 to N-1, print its even-indexed and odd-indexed characters as 2 space-separated strings on a single line (see the Sample below for more detail).

Note: o is considered to be an even index.

Example

S=abcdef
Print abc def

In [ ]:
n=int(input().strip())
words=[]

for i in range(0,n):
    word=input()
    words.append(word)
    
for word in words:
    t1=''
    t2=''
    for j in range (0,len(word)):
        if j%2==0:
            t1 +=word[j]
        else:
            t2 += word[j]
            
    print('{} {}'.format(t1,t2))